form.stabForm fieldset {

}

form.stabForm fieldset ol {
	margin: 0px;
	padding: 0px;
}

form.stabForm fieldset li {
	list-style: none;
	margin: 0px;
	padding: 5px;
}

form.stabForm legend {
	padding: 0px 2px;
	font-weight: bold;
}

form.stabForm label {
	display: inline-block;
	width: 350px;
	vertical-align: text-top;
}

form.stabForm label.error {
	margin-left: 20px;
	width: 400px;
}

div#errorMessages {
	/*background-color: #cc0;*/
	border: 1px solid #cc0;
	border-radius: 5px;
	padding: 0px 15px;
}

div#flashMessages {
	/*background-color: #cc0;*/
	border: 1px solid #cc0;
	border-radius: 5px;
	padding: 5px 15px;
	min-height: 20px;
	font-size: 200%;
}

input { border: 1px solid #000000; }

input:focus { border: 1px dotted #000000; }
input.error { border: 1px dotted #ff0000; }