html, body {
    overflow-y: scroll;
    background: #000 url(../img/background.png) no-repeat fixed center bottom;
    height: 100%;
}
/*
body {
    background: transparent;
}
*/

.container {
    color: #ffffff;
}

.school_mate {
	display: block;
	border: 1px solid #000;
	border-radius: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.school_mate_info {
	display: none;
}

.school_mate_info p {
	font-style: italic;
	font-weight: bolder;
}

.school_mate_collapse {
	float: right;
	padding-right: 10px;
	font-style: italic;
}

@font-face {
    font-family: staben_font;
    src: url('../fonts/Rocky.ttf'),
         url('../fonts/Rocky.eot'); /*IE 9*/
}

span.stabenfont {
    font-family: "staben_font",serif;
    font-size: 150%;
    color: #E23828;
}

span.nollanfont {
	font-size: 80%;
	font-weight: bolder;
}

p.no_javascript {
	font-size: 130%;
	text-decoration: underline;
}

.pagination ul > li > a {
    background-color: #1F1F1F;
}

.pagination ul > li> a:hover,
.pagination a {
    background-color: #3D3D3D;
    color: #999999;
    cursor: default;
}
.pagination ul > .active > a {
    background-color: #3D3D3D;
    color: #999999;
}

.tabs-left > .nav-tabs > li > a:hover {
    background-color: #3D3D3D;
    color: #999999;
    cursor: default;
}

.tabs-left > .nav-tabs > .active > a {
    background-color: #3D3D3D;
}

.tabs-left > .nav-tabs > li > a {
    background-color: transparent;
    color: #999999;
}

dd {
	display: block;
}

.student_poll {
	width: 1400px;
	height: 800px;
	margin-top: 22px;
	overflow-x: scroll;
	overflow-y: scroll;
}

.student_poll .percent_width {width: 250%;}
.student_poll .dialect_margin {margin-left: 230px;}
.student_poll .dialect_dialect {width: 100px; height: 40px; float: left; border-left: 1px solid #000; text-align: center;}

.border {border: 1px solid #fff;}
.border_red {border: 1px solid #ff0000;}
.border_green {border: 1px solid #00ff00;}
.border_yellow {border: 1px solid #ffff00;}

.footer {
    text-align: center;
}