.content {
	padding-top: 20px;
}

.school_mate {
	display: block;
	border: 1px solid #000;
	border-radius: 5px;

	padding-left: 10px;
	margin-bottom: 10px;
}

.school_mate_info {
	display: none;
}

.school_mate_info p {
	font-style: italic;
	font-weight: bolder;
}

.school_mate_collapse {
	float: right;
	padding-right: 10px;
	font-style: italic;
}