{% extends "template.html" %}
{% block content %}
<div id='flashMessages'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>
OBS!
<br />
Det går inte att ta bort prefixer eller frågor!
<br />
Om detta skall göras ska en ny CSV fil skapas utifrån den nolleenkät man skapat och sen ska motsvarande kommando skapa den nya databasen.
<br />
<a href='#'>Lägg till nytt prefix</a> | <a href='#'>Lägg till ny fråga</a>

<form method='post' action='{{ url_for('admin_student_poll_save', command='prefix') }}' class='stabForm' id='admin_student_poll_form'>
	<fieldset>
		<legend>Lägg till nytt prefix</legend>
		<ol>
			<li>
				<label for="prefix">Prefix</label>
				<input type="text" name="prefix" id="prefix" placeholder="Prefix" />
			</li>
			<li>
				<button type="submit" class="btn btn-primary">Lägg till nytt prefix</button>
			</li>
		</ol>
	</fieldset>
</form>

<form method='post' action='{{ url_for('admin_student_poll_save', command='question') }}' class='stabForm' id='admin_student_poll_form'>
	<fieldset>
		<legend>Lägg till ny fråga</legend>
		<ol>
			<li>
				<label for='prefix'>Prefix</label>
				<select name='prefix'>
					{%- for prefix in prefixes %}
					<option value='{{ prefix.id }}'>
						{{ prefix.prefix }}
					</option>
					{%- endfor %}
				</select>
			</li>
		</ol>
		<ol>
			<li>
				<label for="question">Fråga</label>
				<input type="text" name="question" id="question" placeholder="Fråga" />
			</li>
			<li>
				<button type="submit" class="btn btn-primary">Lägg till ny fråga</button>
			</li>
		</ol>
	</fieldset>
</form>

<form method='post' action='/admin_insert_user_to_group' class='stabForm'>
	<fieldset>
		<legend>Lägg till användare i nollegrupper automagiskt!</legend>
		<ol>
			<li>
				<button type='submit' class='btn btn-primary'>Do it!</button>
			</li>
		</ol>
	</fieldset>
</form>

<form method='post' action='{{ url_for('admin_student_poll_save', command='max_students') }}' class='stabForm'>
	<fieldset>
		<legend>Ändra hur många användare som är maximalt per nollegrupp</legend>
		<ol>
			<li>
				<label for='id'>Grupp</label>
				<select name='id'>
					{%- for dialect in dialects %}
					<option value='{{ dialect.id }}'>
						{{ dialect.dialect }}
					</option>
					{%- endfor %}
				</select>
			</li>
		</ol>
		<ol>
			<li>
				<label for="max_students">Max antal studenter</label>
				<input type="text" name="max_students" id="max_students" placeholder="Max antal studenter" />
			</li>
			<li>
				<button type="submit" class="btn btn-primary">Lägg till ny fråga</button>
			</li>
		</ol>
	</fieldset>
</form>
{% endblock %}