{% extends "template.html" %}
{% block active_contact %}active{% endblock %}
{% block content %}
{% if show == 'admins' %}
    <div class="span12">
        <h2>Webmasters</h2>
        <ul>
            <li><b>Namn: </b>Johan</li>
            <li><b>Telefon: </b>Hemligt</li>
            <li><b>E-post: </b>Hemligt</li>
            <br>
            <li><b>Namn: </b>Simon</li>
            <li><b>Telefon: </b>Hemligt</li>
            <li><b>E-post: </b>Hemligt</li>
        </ul>
    </div>
    <div class="span8">
        <img src="http://i.imgur.com/kZgSuL1.gif" />
    </div>
{% elif show == 'contact' %}
    <div>
        <h1>Kontaktuppgifter</h1>
        <br>
        <p>Här kan {{ nollan|safe }} hitta hur {{ nollan|safe }} ska kontakta viktiga personer.</p>
    </div>
    <div class="span4">
        <h2>Klassföreståndare</h2>
        <ul>
            {% for klassfor in klassforestandare %}
            <li><b>Klass: </b>{{ klassfor.school_class }}</li>
            <li><b>Namn: </b>{{ klassfor.name }}</li>
            <li><b>Telefon: </b>{{ klassfor.phone }}</li>
            <li><b>E-post: </b><a href="mailto:{{ klassfor.email }}">{{ klassfor.email }}</a></li>
            <br>
            {% endfor %}
        </ul>
    </div>
    <div class="span4">
        <h2>Studievägledning</h2>
        <ul>
            {% for studie in studievagledning %}
            <li><b>Studievägledare: </b>{{ studie.name }}</li>
            <li><b>Telefon: </b>{{ studie.phone }}</li>
            <li><b>E-post: </b><a href="mailto:{{ studie.email }}">{{ studie.email }}</a></li>
            <li><b>Länk: </b><a href="{{ studie.link }}" target="_blank">LiU:s kontaktsida för {{ studie.name }}</a></li>
            {% endfor %}
        </ul>
        <br>
        <h2>Webbadministratörer</h2>
        <ul>
            <li><b>För frågor om registrering, inlogg eller nolleenkät</b></li>
            <li><b>Namn:</b> Whaler</li>
            <li><b>E-post:</b> <a href="mailto: whaler@staben.info">whaler@staben.info</a></li>
            <br>
            <li><b>För andra frågor rörande hemsidan</b></li>
            <li><b>Namn:</b> Webber</li>
            <li><b>E-post:</b> <a href="mailto: webb@staben.info">webb@staben.info</a></li>
        </ul>
    </div>
{% endif %}
{% endblock %}