{% extends "template.html" %}
{% block content %}
<h4>Fält med * är obligatoriska!</h4>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	{% endif %}
{% endwith %}
<form method='post' action='{{ url_for('forgot_password') }}' class='stabForm' id='forgot_password_form'>
	<fieldset>
		<ol>
			<li>
				<label for="email">E-post *</label>
				<input type="email" name="email" id="email" placeholder="E-post" />
			</li>
			<li>
				<button type="submit" class="btn">Skicka nytt lösenord</button>
			</li>
		</ol>
	</fieldset>
</form>

{% endblock %}