{% extends "template.html" %}
{% block active_gallery %}active{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <span class="label label-inverse" style="margin-bottom: 30px; padding: 10px 20px;">
                    {{ message|safe }}
                </span>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <ul class="thumbnails">
        {% for a in albums %}
            <li class="span3">
                <div style='text-align: center;'>
                    {% if admin_approve %}
                        <a href="/admin_approve_album/{{ a.id }}">
                    {% else %}
                        <a href="/gallery/album/{{ a.id }}">
                    {% endif %}
                        <img src="/static/upload/gallery/album_{{ a.id }}/thumbnail/{{ thumbnails[loop.index - 1].path }}"
                             alt="Thumbnail för album med titel {{ a.title }}">
                        <h3>{{ a.title }}</h3>
                    </a>
                    {#<p>Skapat av {{ uploaders[loop.index - 1] }}</p>#}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}