{% extends "template.html" %}
{% block active_index %}active{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	{% endif %}
{% endwith %}
<p class='no_javascript'>
	{{ st['staben']|safe }} ser att {{ st['nollan']|safe }}
	inte har Javascript aktiverat. Om {{ st['nollan']|safe }} vill kunna använda
	{{ st['staben']|safe }}s hemsida till fullo bör {{ st['nollan']|safe }}
	aktivera Javascript.
</p>
<div style='text-align: center; margin-bottom: 15px;'>
	<img src="{{ url_for('static', filename='img/sidhuvud.png') }}">
</div>
<div class="span7">
	<h3>Goddag och välkommen {{ st['nollan']|safe }}</h3>
	Detta är {{ st['staben']|safe }}s eminenta hemsida.
	<h4>
		Nu är det dags att ansöka om du vill vara med i STABEN 14/15!
		<br />
		Följ följande länk för att komma till formuläret:
		<br />
		<a href="{{ url_for('nystaben') }}">Ansök om att söka STABEN 14/15</a>
	</h4>
	<br />
	Segla försiktigt {{ st['nollan']|safe }} och kom ihåg, {{ st['staben']|safe }} ser dig alltid.
	<br />
	<br />
	<br />
	<br />
	<p>{{ st['staben']|safe }} rekommenderar:</p>
	<a href="http://www.studenttrade.se" target="_blank"><img src="{{ url_for('static', filename='img/studenttrade.png') }}" width="246px" height="50px" /></a>
	<br /><br />
	<a href="http://bookify.se/" target="_blank"><img src="{{ url_for('static', filename='sponsors/bookify.png') }}" width="246px" height="50px" /></a>
</div>
<div class='span4' style='margin-top: 15px;'>
	<a class="twitter-timeline" data-theme="dark" height="500px" data-dnt="true" href="https://twitter.com/fadderi_staben" data-widget-id="339411237781794816">Tweets av @fadderi_staben</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
{% endblock %}