{% extends "template.html" %}
{% block active_index %}active{% endblock %}
{% block content %}
    <p class='no_javascript'>
        <span class="stabenfont">STABEN</span> ser att <span class="nollanfont">{{ nollan }}</span>
        inte har Javascript aktiverat. Om <span class="nollanfont">{{ nollan }}</span> vill kunna använda
        <span class="stabenfont">STABEN</span>s hemsida till fullo bör <span class="nollanfont">{{ nollan }}</span>
        aktivera Javascript.
    </p>
    <img src="{{ url_for('static', filename='img/sidhuvud.png') }}">
    <div class="span6" style='border: 0px solid #fff; margin: 0px'>
        <h3>
            Goddag och välkommen <span class="nollanfont">{{ nollan }}</span>
        </h3>
        Detta är <span class="stabenfont">STABEN</span>s eminenta hemsida.
        <br><br>
        Här har <span class="stabenfont">STABEN</span> samlat viktig information så som schema och
        kontaktuppgifter men också sådant som <span class="nollanfont">{{ nollan }}</span> kommer producera i sina nolleuppdrag.
        <br><br>
        Kolla in schemat och gör dig bekant med dagarna. Glöm inte att kolla priser som står med i schemat
        så att <span class="nollanfont">{{ nollan }}</span> vet hur mycket ca$h som måste tas med.
        <br><br>
        Segla försiktigt <span class="nollanfont">{{ nollan }}</span> och kom ihåg, <span class="stabenfont">STABEN</span> ser dig alltid.
    </div>
    <div class="span4" style='margin: 0px; margin-top: 20px; border: 0px solid #fff'>
        <a class="twitter-timeline" data-theme="dark" height="500px" data-dnt="true" href="https://twitter.com/fadderi_staben" data-widget-id="339411237781794816">Tweets av @fadderi_staben</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
{% endblock %}