{% extends "template.html" %}
{% block active_index %}active{% endblock %}
{% block content %}

<div class="row">
    <div class="span12 offset1">
        <h3>
            Goddag och välkommen {{ nollan }}
        </h3>
        <p class='no_javascript'><span class="stabenfont">STABEN</span> ser att {{ nollan }} inte har Javascript aktiverat. Om {{ nollan }} vill kunna använda <span class="stabenfont">STABEN</span>s hemsida till fullo bör {{ nollan }} aktivera Javascript.</p>
    </div>
    <div class="span12">
        <center>
            <img style="border: 10px solid dimgrey;
            border-radius: 30px;
            -moz-border-radius: 30px;
            -khtml-border-radius: 30px;
            -webkit-border-radius: 30px;" src="../static/img/staben.png">
        </center>
    </div>
    <div class="span7 offset1">
        <br>
        <p style="font-size: large">
            Detta är <span class="stabenfont">STABEN</span>s eminenta hemsida.
            <br><br>
            Här har <span class="stabenfont">STABEN</span> samlat viktig information så som schema och
            kontaktuppgifter men också sådant som {{ nollan }} kommer producera i sina nolleuppdrag.
            <br><br>
            Kolla in schemat och gör dig bekant med dagarna och kolla samtidigt sidan med alla priser
            så att {{ nollan }} vet hur mycket ca$h som måste tas med.
            <br><br>
            Segla försiktigt {{ nollan }} och kom ihåg, <span class="stabenfont">STABEN</span> ser dig alltid.
        </p>
    </div>
    <div class="span3">
        <br>
        <a class="twitter-timeline" height="300" data-dnt="true" href="https://twitter.com/fadderi_staben" data-widget-id="339411237781794816">Tweets av @fadderi_staben</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
{% endblock %}