{% extends "template.html" %}
{% block active_profile %}active{% endblock %}
{% block content %}
<h1>Redigera profil</h1>
<form method='post' action='{{ url_for('profile_save', user_email=session['email']) }}' id='profile_edit'>
	<h4>Användaruppgifter</h4>
	Namn * <br />
	<input type='text' id='firstname' name='firstname' value='{{ user_info.firstname }}' /> <br />
	<input type='text' id='lastname' name='lastname' value='{{ user_info.lastname }}' /> <br />
	Telefonnummer <br />
	<input type='text' name='phonenumber' value='{{ user_info.phonenumber }}' /> <br />
	<input type='checkbox' name='phonenumber_vis' {% if user_info.phonenumber_vis == 1 %}value='0' checked='checked'{% elif user_info.phonenumber_vis == 0 %}value='1'{% endif %} /> Visa mitt telefonnummer på min profil <br /> <br />
	Ålder <br />
	<input type='text' name='age' value='{{ user_info.age}}' /> <br />
	Facebook länk <br />
	<input type='text' name='facebook_url' value='{{ user_info.facebook_url }}' /> <br />
	Var bor du? <br />
	<input type='text' name='current_city' value='{{ user_info.current_city }}' /> <br />
	Var kommer du ifrån? <br />
	<input type='text' name='where_from' value='{{ user_info.where_from }}' /> <br />
	Klass <br />
	<select name='school_class'>
		{%- for classes in school_classes %}
		<option value='{{ classes.id }}' {%- if user_info.school_class == classes.id -%}selected{%- endif %}>
			{{ classes.name }} ({{ classes.abbreviation }})
		</option>
		{%- endfor %}
	</select>
	<p>
		Presentation
		<br />
		<textarea rows='10' name='presentation'>{{ user_info.presentation }}</textarea>
	</p>
	
	<h5>Du kan inte ändra din e-post, kontakta webmaster vid önskad ändring!</h5>
	E-post
	<br />
	<input type='text' id='email' name='email' value='{{ user.email }}' disabled />
	<br />
	<button type='submit' class='btn'>Spara</button> <input type='reset' value='Återställ' class='btn' />
</form>

<form method='post' action='{{ url_for('profile_save_password', user_email=session['email']) }}' id='profile_password'>
	<h4>Lösenord</h4>
	<input type='password' name='current_password' placeholder='Nuvarande lösenord' />
	<br />
	<input type='password' name='new_password' placeholder='Nytt lösenord' />
	<input type='password' name='repeat_password' placeholder='Repetera lösenord' />
	<br />
	<button type='submit' class='btn'>Byt lösenord</button> <input type='reset' value='Återställ' class='btn' />
</form>
{% endblock %}