{% extends "template.html" %}
{% block content %}
	<form method='post' action='{% if blog.id %}{{ url_for('profile_blog_entry', user_email=session['email'], command='edit') }}{% else %}{{ url_for('profile_blog_entry', user_email=session['email'], command='add') }}{% endif %}'>
		<fieldset>
			<input type='text' placeholder='Titel' id='title' name='title' value='{{ blog.title }}' />
			<textarea class='text' name='text'>{{ blog.text }}</textarea>
			<br />
			<select name='fk_gallery_album_id'>
				<option value='0'>Inget galleri</option>
				{% for g_content in gallery %}
					<option value='{{ g_content.id }}'>{{ g_content.title }}</option>
				{% endfor %}
			</select>
			<br />
			<button type="submit" class="btn">{% if blog.id %}Redigera inlägg{% else %}Lägg till nytt inlägg{% endif %}</button>
		</fieldset>
	</form>
{% endblock %}