{% extends "template.html" %}
{% block content %}
<h4>
Välj program: 
<a href='{{ url_for('profile_class', user_email=session['email'], school_program='D') }}'>D</a>
-
<a href='{{ url_for('profile_class', user_email=session['email'], school_program='IT') }}'>IT</a>
-
<a href='{{ url_for('profile_class', user_email=session['email'], school_program='IP') }}'>IP</a>
-
<a href='{{ url_for('profile_class', user_email=session['email'], school_program='U') }}'>U</a>
</h4>
<h1>{% filter upper %}{{ chosen_school_program }}{% endfilter %} programmet</h1>
	<hr />
	{% for user in program_users %}
		<div class='school_mate' id='{{ user.r_user_information.id }}'>
			<b>{{ user.r_user_information.firstname + ' ' + user.r_user_information.lastname }}</b>
			<div class='school_mate_collapse' id='collapsed{{ user.r_user_information.id }}'>Tryck för mer info</div>

			<div class='school_mate_info' id='{{ user.r_user_information.id }}'>
				{% if user.r_user_information.phonenumber_vis %}
					Telefonnummer: {{ user.r_user_information.phonenumber }} <br />
				{% endif %}
				{% if user.r_user_information.facebook_url %}
					<a href='http://www.facebook.com/{{ user.r_user_information.facebook_url }}' target='_blank'>Facebook</a> <br />
				{% endif %}
				<br />
				Från: {{ user.r_user_information.where_from }} <br />
				Bor: {{ user.r_user_information.current_city }} <br />
				<br />
				<p>
					{{ user.r_user_information.presentation }}
				</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}