{% extends "template.html" %}
{% block active_register %}active{% endblock %}
{% block content %}
<div id='errorMessages'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>
<form method='post' action='{{ url_for('register') }}' class='stabForm' id='register_form'>
	<fieldset>
		<ol>
			<li>
				<label for="email">E-post *</label>
				<input type="email" name="email" id="email" placeholder="E-post" />
			</li>
			<li>
				<label for="password">Lösenord *</label>
				<input type="password" name="password" id="password" placeholder="Lösenord" />
			</li>
			<li>
				<label for="rep_password">Upprepa lösenord *</label>
				<input type="password" name="rep_password" id="rep_password" placeholder="Upprepa lösenord" />
			</li>
			<li>
				<label for="regCode">Registreringskod *</label>
				<input type="text" name="regCode" id="regCode" placeholder="Registreringskod" />
			</li>
			<li>
				<button type="submit" class="btn btn-primary">Registrera</button>
			</li>
		</ol>
	</fieldset>
</form>

{% endblock %}