<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>STABEN</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ url_for('index') }}">STABEN</a>
                <div class="nav-collapse">
                    <ul class="nav" id="nav_menu">
                        <li class='{% block active_index %}{% endblock %}'><a href="{{ url_for('index') }}">Start</a></li>
                        <li class='{% block active_prices %}{% endblock %}'><a href="{{ url_for('prices') }}">Priser</a></li>
                        <li class='{% block active_schedule %}{% endblock %}'><a href="{{ url_for('schedule') }}">Schema</a></li>
                        <li class='{% block active_student_poll %}{% endblock %}'><a href="{{ url_for('student_poll') }}">Enkät</a></li>
                        <li class='{% block active_gallery %}{% endblock %}'><a href="{{ url_for('gallery') }}">Galleri</a></li>
                        <li class='{% block active_blog %}{% endblock %}'><a href="{{ url_for('blog') }}">Blogg</a></li>
                        <li class='{% block active_contact %}{% endblock %}'><a href="{{ url_for('contact') }}">Kontakt</a></li>
                        {% if session %}
                        <li class='dropdown'>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Profil
                                <b class="caret"></b>
                            </a>
                            <ul class='dropdown-menu'>
                                <li><a href="/profile/{{ session['email'] }}">Se profil</a></li>
                                <li><a href="/profile/{{ session['email'] }}/edit">Redigera</a></li>
                                <li><a href="/profile/{{ session['email'] }}/class">Min skolklass</a></li>
                                {% if session.role == 0 %}
                                    <br />
                                    <span class="help-block">Admin verktyg</span>
                                    <li><a href="#">Bajs</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="/user/signout">Logga ut</a></li>
                        {% else %}
                        <li class='dropdown'>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Logga in
                                <b class="caret"></b>
                            </a>
                            <ul class='dropdown-menu' style='padding: 5px;'>
                                <form method='post' action='/user/login'>
                                    <fieldset>
                                        <input type="text" name="email" placeholder="E-mail">
                                        <input type="password" name="password" placeholder="Lösenord">
                                        <button type="submit" class="btn">Logga in</button>
                                        <span class="help-block">Glömt lösenord</span>
                                    </fieldset>
                                </form>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container content">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>